{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<div class="row">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Courriel</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Courriel">
        </div>

        <div class="form-group">
            <label for="zeBobo">File input</label>
            <textarea id="zeBobo" placeholder="Votre bobo" style="width: 100%; height: 200px;" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="zeBobo">Heure de rendez-vous souhaitée</label>
            <select id="heure" class="form-control">
                <option value="900">9:00</option>
                <option value="1000">10:00</option>
                <option value="1100">11:00</option>
                <option value="1200">12:00</option>
                <option value="1300">13:00</option>
                <option value="1400">14:00</option>
                <option value="1500">15:00</option>
                <option value="1600">16:00</option>
                <option value="1700">17:00</option>
                <option value="2342">23:42</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Je veux un rendez-vous!</button>
    </form>
</div>

{% endblock %}
